{{#publication}}
<div class="row">
	<div class="col-md-12">
		<h1>{{name}}</h1>
	</div> <!-- .col -->
</div> <!-- .row -->
<div class="row">
	<div class="col-md-12">
		<form>
			<hr>
		  <div class="form-group">
		    <label for="name" class="sr-only">Publication Name</label>
		    <input type="text" class="form-control" id="name" placeholder="Publication Name" value="{{name}}">
		  </div>
		  <div class="input-group">
		    <label for="ISSN" class="sr-only">ISSN</label>
				<div class="input-group-prepend">
    			<span class="input-group-text" id="ISSN-addon">ISSN</span>
  			</div>
		    <input type="text" class="form-control" id="ISSN" aria-describedby="ISSN-addon" placeholder="ISSN" value="{{ISSN}}">
		  </div>
			<div class="form-group">
		    <label for="website" class="sr-only">Website</label>
		    <input type="url" class="form-control" id="website" placeholder="Website | www.example.com" value="{{website}}">
		  </div>
			<div class="row">
				<div class="col">

				</div>
			</div>
			<h3>Address</h3>
			<hr>
			<div class="form-group">
		    <label for="address1" class="sr-only">Address</label>
		    <input type="text" class="form-control" id="address1" placeholder="Street Address" value="{{address1}}">
		  </div>
			<div class="form-group">
		    <label for="address2" class="sr-only">Address2</label>
		    <input type="text" class="form-control" id="address2" placeholder="Suite or Unit" value="{{address2}}">
		  </div>
			<div class="form-group">
		    <label for="city" class="sr-only">City</label>
		    <input type="text" class="form-control" id="city" placeholder="Suite or Unit" value="{{clity}}">
		  </div>
			<div class="form-group">
		    <label for="state" class="sr-only">State</label>
		    <select type="text" class="form-control" id="state" placeholder="State" value="{{state}}">
					<option selected>-- State --</option>
        	<option>...</option>
					<option>***</option>
				</select>
		  </div>
			<div class="form-group">
		    <label for="zipcode" class="sr-only">ZIP Code</label>
		    <input type="text" class="form-control" id="city" placeholder="ZIP Code" value="{{zipcode}}">
		  </div>
			<div class="row">
				<div class="col-4 align-self-end">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>
		</form>
	</div> <!-- .col -->
</div> <!-- .row -->
{{/publication}}
